.toast_progress {
  animation-name: progressBar;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
